main{
    text-align: center;
}

form{
    margin: 10%;
    padding: 2%;
}

input{
    margin: 1%;
}

.barre{
    text-decoration: line-through;
}

.gros{
    font-weight: bold;
}

.italic{
    font-style: italic;
}